<div class="admin-home">
  <div class="sidebar">
    <h2>Admin Dashboard</h2>
    <ul>
      <li><a routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a></li>
      <li><a routerLink="/admin/users" routerLinkActive="active">User Listing</a></li>
      <li><a routerLink="/admin/categories" routerLinkActive="active">Categories</a></li>
      <li><a routerLink="/admin/channels" routerLinkActive="active">channels</a></li>
      <li><a (click)="logout()">Logout</a></li>
    </ul>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
