<div class="min-h-screen flex items-center justify-center bg-gray-900">
    <div class="max-w-md w-full bg-gray-800 p-8 rounded-lg shadow-lg mb-24">
      <h2 class="text-3xl font-bold mb-8 text-white">One-Time OTP Verification</h2>
  
      <form [formGroup]="otpForm" (ngSubmit)="verifyOtp()">
        <div class="mb-4">
          <label for="otp" class="block text-white text-sm font-semibold mb-2">OTP</label>
          <input type="text" id="otp" formControlName="otp" class="w-full px-3 py-2 rounded-md bg-gray-700 border border-gray-600 focus:outline-none focus:border-blue-500" placeholder="Enter the OTP">
          <div *ngIf="otpForm.get('otp')?.touched && otpForm.get('otp')?.invalid" class="text-red-500 text-xs mt-1">
            <div *ngIf="otpForm.get('otp')?.errors?.['required']" class="error">OTP is required</div>
            <div *ngIf="otpForm.get('otp')?.errors?.['minlength'] || otpForm.get('otp')?.errors?.['maxlength']" class="error">OTP must be 6 digits</div>
          </div>
        </div>
        
        <!-- Timer -->
        <div class="mb-4 text-center" [ngClass]="{'text-red-500': timeLeft <= 10, 'text-white': timeLeft > 10}">
          Time remaining: {{ timeLeft }} seconds
        </div>
      
        <button type="submit" class="w-full bg-blue-500 text-white px-4 py-2 rounded-md font-semibold transition duration-300 ease-in-out hover:bg-blue-700 focus:outline-none focus:bg-blue-700" [disabled]="otpForm.invalid || timeLeft === 0">
          Verify OTP
        </button>
      
        <!-- Resend OTP button -->
        <button *ngIf="showResendButton" (click)="resendOtp()" class="w-full mt-4 bg-green-500 text-white px-4 py-2 rounded-md font-semibold transition duration-300 ease-in-out hover:bg-green-700 focus:outline-none focus:bg-green-700">
          Resend OTP
        </button>
      </form>
  
      <div *ngIf="errorMessage" class="error-message text-red-500 mt-4">
        {{ errorMessage }}
      </div>
    </div>
  </div>